In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Grandmasters in Chess.csv')
df.head()

,Name,Fide ID,Nascimento,Place of Birth,Death,Date they became Grandmaster,Federation,Sexo,Age they became Grandmaster
0,"Aagaard, Jacob",1401815.0,1973-07-31 00:00:00,Hørsholm,NaN,2007,Denmark • Scotland,M,34.0
1,"Abasov, Nijat",13402960.0,1995-05-14 00:00:00,Baku,NaN,2011,Azerbaijan,M,16.0
2,"Abbasifar, Hasan",12501000.0,1972-09-12 00:00:00,Shiraz,NaN,2013,Iran,M,41.0
3,"Abbasov, Farid",13400665.0,1979-01-31 00:00:00,Baku,NaN,2007,Azerbaijan,M,28.0
4,"Abdusattorov, Nodirbek",14204118.0,2004-09-18 00:00:00,NaN,NaN,2018,Uzbekistan,M,14.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1930 entries, 0 to 1929
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Name                          1930 non-null   object
 1   Fide ID                       1857 non-null   float64
 2   Nascimento                    1930 non-null   object
 3   Place of Birth                1645 non-null   object
 4   Death                         210 non-null    object
 5   Date they became Grandmaster  1930 non-null   object
 6   Federation                    1930 non-null   object
 7   Sexo                          1930 non-null   object
 8   Age they became Grandmaster   1929 non-null   float64
dtypes: float64(2), object(7)
memory usage: 135.8+ KB

In [5]:
df.isna().sum()

Name                               0
Fide ID                           73
Nascimento                         0
Place of Birth                   285
Death                           1720
Date they became Grandmaster       0
Federation                         0
Sexo                               0
Age they became Grandmaster        1
dtype: int64